.gname
{
    font-size:25px;
    color:black;
    text-decoration:none;
}
.maingood:link
{
    text-decoration-line : none;
}
.maingood:visited
{
    text-decoration-line : none;
}
.gprice
{
    font-size: 20px;
    color:black;
}
.maingood
{
    display: inline-flex;
}
.maingood1
{
    border: 20px solid white;
}
